tensorflow
numpy~=1.24.3
torchvision
setuptools~=69.5.1
tqdm~=4.66.4
chardet~=4.0.0
pandas~=2.2.2
matplotlib~=3.8.4
requests~=2.32.2
pillow~=10.3.0
wikipedia~=1.4.0
wandb~=0.17.3
scikit-learn~=1.4.2
transformers~=4.42.4
evaluate~=0.4.0
torch
pytest~=7.4.4